<link 
rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
crossorigin="anonymous">

<!-- Optional theme -->
<link 
rel="stylesheet" 
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" 
crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script 
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
crossorigin="anonymous"></script>
<!-- <h2>HTML Table</h2>
<table>
  <tr>
    <td class="n">Company</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td class='u'>Alfreds Futterkiste</td>
    <td class='corner'></td>
    <td></td>
  </tr>
  <tr>
    <td class='blank'></td>
    <td class='blank'></td>
    <td class='n'>Mexico</td>
  </tr>
  <tr>
    <td class='blank'></td>
    <td class='blank'></td>
    <td class='u'>Austria</td>
  </tr>
  <tr>
    <td class='n'>Island Trading</td>
    <td class='right'></td>
    <td class='blank'></td>
  </tr>
  <tr>
    <td class='u'>Laughing Bacchus Winecellars</td>
    <td class='top'></td>
    <td class='blank'></td>
  </tr>
</table> -->
<div class='col-md-2'>Teams:</div>
<div class='col-md-4'>
  <input type='text' [(ngModel)]='teamslength' />
</div>
<button class='btn btn-primary' (click)='createBracket(teamslength)'>
  Create Bracket
</button>


<div *ngIf='bracket'>
  <h2>Bracket</h2>
  <table class='table'>
    <tbody>
      <tr *ngFor="let row of bracket.tableData; let y = index">
        <td *ngFor="let cell of row; let x = index" [ngClass]="cell.class">
          <span *ngIf="cell.class == 'n' || cell.class == 'u'">Team: <b>{{cell.teamName}}</b></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
